.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -52px;
}

.header {
    background-color: #09B97F;
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.titleView {
    margin-top: 200px;
    margin-bottom: 150px;
}

.titleText {
    font-size: 50px;
    font-weight: bold;
}

.rowItem {
    text-align: center;
}

.footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}